.select-dropdown{
    height: 500px
}
.coin-thumbnail{
    float: left;
}

.assets td {
    line-height: 45px;
}

.deposit-btn{
    margin-top: -5px;
}

div.dataTables_paginate ul.pagination {
    margin: 0px !important;
}

a[href="http://www.amcharts.com/javascript-charts/"]{
  display: none !important;
}

.coin-list {
    font-weight: 600;
    margin: 0 30px 10px 30px;
    color: darkgoldenrod;
    font-size: 17px;
}

.coin-list select {
	width: 120px;
	margin-left: 12px;
}